.container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
      url('../images/hermes.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  .container {
    min-height: 90vh;
  }
  .container main .search-bar fieldset legend  {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0;
  }

  .main-container {
    width: 100%;
    min-height: 100%;
    background: #333333;
  }
  
  .subcontainer {
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-right: 21rem;
  }
  form.contact-form {
    margin-top: 2.4rem;
    width: 50rem;
    height: 100%;
    float: right;
  
    background: rgba(255, 255, 253, 0.9);
  
    border: none;
    border-radius: 2.4rem;
  
    overflow: hidden;
  }
  
  fieldset {
    height: 100%;
    display: flex;
    flex-direction: column;
  
    border: none;
  
    margin: 2rem;
  }
  
  fieldset legend {
    width: 100%;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  fieldset legend a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    margin-left: 2rem;
  }
  
  fieldset legend span {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    color: #ff4f0b;
    text-shadow: 2px 2px gray;
    text-decoration: none;
    margin-right: 2rem;
  }
  
  .input-block + .input-block {
    margin-top: 1.5rem;
  }
  .input-block {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 0.7rem;
    line-height: 1.5;
    margin-left: 2rem;
  }

  .input-block input {
    font-size: 1.1rem;
    width: 95%;
    height: 2rem;
  
    padding: 0.4rem;
    border-radius: 0.7rem;
    border: 0.12rem solid #58565b;
  }
  .input-block textarea{
    font-size: 1.5rem;
    width: 95%;
  
    padding: 0.4rem;
    border-radius: 0.8rem;
    border: 0.12rem solid #58565b;

    height: clamp(8rem, 10rem, 16rem);
  resize: vertical;
  }
  
  .primary-button {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 2rem;
  
    width: 91.5%;
    height: 3.4rem;
    border: 0;
  
    cursor: pointer;
  
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #ff4f0b;
  
    border-radius: 0.8rem;
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: background-color 0.2s;
  }
  
  .primary-button:hover {
    background: bisque;
    color: black;
    border: 3px solid black;
  }